$bgcl : #222;
$clnometal : #07ffff;
$clsemimetal: #007cf8;
$clalkmetal: #f80000;
$clalkearth: #f87900;
$cltranmetal: #eef800;
$clbasmetal: #00f800;
$clhalogen: #af85a7;
$clnoblegas: #6800f8;
$cllanthanide: #66ff66;
$clactinide: #00ff7f;


#no-visible{
    border-color: transparent;
    color: transparent;
}
#nometal{
    border-color: $clnometal;
    color: $clnometal;
}
#semimetal{
    border-color: $clsemimetal;
    color: $clsemimetal;
}
#alkmetal{
    border-color: $clalkmetal;
    color: $clalkmetal;
}
#alkearth{
    border-color: $clalkearth;
    color: $clalkearth;
}
#tranmetal{
    border-color: $cltranmetal;
    color: $cltranmetal;
}
#basmetal{
    border-color: $clbasmetal;
    color: $clbasmetal;
}
#halogen{
    border-color: $clhalogen;
    color: $clhalogen;
}
#noblegas{
    border-color: $clnoblegas;
    color: $clnoblegas;
}
#lanthanide{
    border-color: $cllanthanide;
    color: $cllanthanide;
}
#actinide{
    border-color: $clactinide;
    color: $clactinide;
}

#secondo{
    margin-top: 583px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0 0 5px currentColor;
}

body{
    background: $bgcl;

}

#sommary{
    display: flex;
    //list-style: none;
    position: absolute;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
#sommary li{
    margin-left: 25px;
    width: auto;
}

.content{
    display: flex;
    gap: 0;
}

#primo{
    margin-left: 15px;
}
.colu{
    margin-top: 8px;
    height: 510px;
    width: 74px;
    gap: 1px;
    display: flex;
    flex-direction: column;
}
.culu{
    margin-top: 512px;
    margin-left: 200px;
    position:absolute;
    width: 1020px;
    height: 74px;
    gap: 1px;
    display: flex;
}
.box{
    height: 70px;
    width: 70px;
    border: 2px solid ;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}
.box p{
    font-size: 10px;
}
#atomic{
    align-self: flex-start;
}
.box h1{
    font-size: 30px;
}